@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.navbar-collapse {
  flex-grow: 0 !important;
}

.navbar-expand-lg {
  justify-content: space-between !important;
}

.container {
  width: 700px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.quote-txt {
  font-family: times;
  font-size: 30px;
  font-style: italic;
  color: #4c4c4c;
  line-height: 1.2;
}

.quote-description {
  max-width: 650px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  margin: 0 auto;
  font-weight: 100;
}

.quote {
  font-family: cursive;
  font-size:130px;
  padding: 0px 50px;
}

.btn-menu-white {
  font-family: times;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  font-style: italic;
  display: inline-block
}

.btn-menu-white:hover {
  color: white;
}

.btn-menu-white::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: white;
  transition: 300ms;
  color: white;
}

.btn-menu-white:hover::after {
  width: 100%;
  color: white;
}

.btn-menu {
  font-family: times;
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 20px;
  font-style: italic;
  display: inline-block
}

.btn-menu:hover {
  color: black;
}

.btn-menu::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 300ms;
  color: black;
}

.btn-menu:hover::after {
  width: 100%;
  color: black;
}

.logo {
  width: 300px;
}

.nav-logo {
  width: 80px;
}

#logo-txt {
  width: 260px;
  margin-left: 15px;
}

.contact-bloc {
  font-family: 'Open Sans', sans-serif;
  max-width: 650px;
  margin: 0 auto;
  font-weight: 100;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
}

#times-style {
  font-family: times;
  font-size: 44px;
  font-style: italic;
  margin-right: 35px;
}

@media (width: 796px) {
  .container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
      justify-content: space-between !important;
  }
}

@media (max-width: 550px) {
  #times-style {
    font-size: 24px;
  }

  .nav-logo {
    width: 45px;
  }

  #logo-txt {
    width: 205px;
    margin-left: 15px;
  }

  .footer {
    display: block;
  }

  .footer .btn-menu {
    padding: 0px;
    margin-top: 15px;
  }
}

@media (max-width: 420px) {
  .logo {
    width: 150px;
  }

  .quote-txt {
    font-size: 26px;
  }

  .quote {
    font-size:30px;
    padding: 0px 16px;
  }
}
